kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ .Values.appName }}-pvc
  {{- if eq .Values.global.storage "efs" }}
  annotations:
    volume.beta.kubernetes.io/storage-class: {{ .Values.global.storageClassName }}
  {{- end }}
  labels:
    tier: {{ .Values.appName }}
spec:
  storageClassName: {{ .Values.global.storageClassName }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.global.store_dumps.pvc_size}}
