apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Values.appName }}-{{ .Release.Namespace }}
{{- if .Values.global.ingress.annotations }}
  annotations:
{{ toYaml .Values.global.ingress.annotations | indent 4 }}
{{- end }}
  labels:
    app: {{ .Values.global.product }}
    tier: {{ .Values.appName }}
spec:
  rules:
    - host: {{ .Values.global.subdomain}}.{{ .Values.global.domain }}
      http:
        paths:
          - path: /api/2/upload
            pathType: Prefix
            backend:
              service:
                name: mult-service-node
                port:
                  number: 9082
          - path: /api/2/copy
            pathType: Prefix
            backend:
              service:
                name: mult-service-node
                port:
                  number: 9082
          - path: /user_downloads
            pathType: Prefix
            backend:
              service:
                name: mult-service-node
                port:
                  number: 9082
          - path: /api/2/download
            pathType: Prefix
            backend:
              service:
                name: mult-service-node
                port:
                  number: 9082
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: capi-service-node
                port:
                  number: 9080
          - path: /auth
            pathType: Prefix
            backend:
              service:
                name: capi-service-node
                port:
                  number: 9080
          - path: /system
            pathType: Prefix
            backend:
              service:
                name: capi-service-node
                port:
                  number: 9080
          - path: /
            pathType: Prefix
            backend:
              service:
                name: corezoid-web-adm
                port:
                  number: 80

    - host: {{ .Values.global.web_superadm.subdomain}}.{{ .Values.global.domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: corezoid-web-superadm
                port:
                  number: 80
    - host: {{ .Values.global.syncapi.subdomain}}.{{ .Values.global.domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: syncapi-main
                port:
                  number: 8090
    {{- if .Values.global.sa.enabled }}
    - host: {{ .Values.global.sa_web.subdomain}}.{{ .Values.global.domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: single-account-web
                port:
                  number: 80
    {{- end }}
    {{- if .Values.global.store_dumps.enabled }}
    - host: {{ .Values.global.store_dumps.subdomain }}.{{ .Values.global.domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: dump-service-node
                port:
                  number: 80
  {{- end }}
  {{- if .Values.global.ingress_tls }}
  tls:
    - hosts:
        {{- if .Values.global.store_dumps.enabled }}
        - {{ .Values.global.store_dumps.subdomain }}.{{ .Values.global.domain }}
        {{- end }}
        - {{ .Values.global.subdomain}}.{{ .Values.global.domain }}
        - {{ .Values.global.web_superadm.subdomain}}.{{ .Values.global.domain }}
        - {{ .Values.global.syncapi.subdomain}}.{{ .Values.global.domain }}
        {{- if .Values.global.sa.enabled }}
        - {{ .Values.global.sa_web.subdomain}}.{{ .Values.global.domain }}
      {{- end }}
      secretName: tls-{{ .Values.appName }}-{{ .Release.Namespace }}
  {{- end }}
