component_name: gitcall
require:
  postgresql: "develop"
  rabbitmq: "develop"
include:
  kube: 7d2612ac # 1.0-dev
helm:
  enabled: true
  app: gitcall
  tier: gitcall
  chart:
    version: "2.0.0"
    description: "The gitcall service. builds and runs usercode functions"
config_file: gitcall.json
image: docker-hub.middleware.biz/public/gitcall/gitcall
