apiVersion: v1
data:
  log4j2-spring.xml: |
    <?xml version="1.0" encoding="UTF-8"?>
    <configuration>

      <property name="LOGS" value="/ebsmnt/log" />

        <appender name="Console"
          class="ch.qos.logback.core.ConsoleAppender">
          <layout class="ch.qos.logback.classic.PatternLayout">
          <Pattern>
          %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
          </Pattern>
          </layout>
        </appender>

        <appender name="RollingFile"
          class="ch.qos.logback.core.rolling.RollingFileAppender">
          <file>/ebsmnt/log/merchant_app.log</file>
          <encoder
            class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
          </encoder>

          <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
              <!-- rollover daily and when the file reaches 5 MegaBytes -->
              <fileNamePattern>/ebsmnt/log/merchant_app-%d{-dd-MMMM-yyyy}-%i.log.gz
              </fileNamePattern>
              <timeBasedFileNamingAndTriggeringPolicy
            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
          </rollingPolicy>
        </appender>

        <root level="info">
          <appender-ref ref="RollingFile" />
          <appender-ref ref="Console" />
        </root>

    </configuration>


kind: ConfigMap
metadata:
  name: {{ .Values.appName }}-log4j2-spring
